<h1> Welcome </h1>
<div id="login_box" class="dlgbox">
  <h2 id="login_title"> New Account </h2>
  <input id="input10" type="text" />
  <div class="button" title="Clikcer" onclick="clicked()">
  <div class="button" title="Apply" onclick="clicked()">
</div>

