<!-- h1> <%= t 'hello' %> </h1 -->
<div id="login_box" class="dlgbox">
<svg  viewbox="0 0 100 100"> 
  <rect x="0" y="8" height="80" width="95" rx="7" ry="7"
	stroke="white" stroke-width="1.5" fill="none"> </rect>
  <circle cx="74.7" cy="8.5" r="6.5" stroke="white" stroke-width="1.5" fill="rgb(44,122,199)"> </circle>
  <circle cx="74.7" cy="8.5" r="3"  fill="orange"/>
</svg >
<h2 id="login_title"> <%= t 'login' %>  </h2>
</div>
