<h1> Welcome </h1>

<div id="account_box" class="dlgbox">
  <h2 id="login_title"> New Account </h2>

  <%= form_for(Account.new) do |f| %>
  <table>
    <tr> <td> <label for="account_name"> Name </label> </td> <td> <%= text_field 'account', 'name'  %> </td> </td>
    <tr> <td> <label for="account_email"> Email </label> </td> <td> <%= text_field 'account', 'email'  %> </td> </tr>
    <tr> <td> <label for="account_password"> Password </label> </td> <td> <%= password_field 'account', 'password'  %> </td> </tr>
    <tr> <td> <label for="repeat_password"> Repeat Password </label> </td> <td> <input type="password" /> </td> </tr>
  </table>


  <% end %>

  <div id="btn_cancel" class="button" onclick="cancel()"> Cancel </div>
  <div id="btn_apply" class="button" onclick="add_account()"> Apply </div>
</div>

